@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .header {
    &__logo {
      width: 210px;
    }
    &__phone {
      font-size: 16px;
    }
  }

  .button {
    width: 140px;
    &_main {
      width: 255px;
      font-size: 14px;
    }
    &_submit {
      width: 100%;
      height: 46px;
    }
  }

  .promo {
    min-height: 600px;
    padding: 21px 0 60px 0;
    &__wrapper {
      margin-top: 70px;
    }
    &__title {
      font-size: 38px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__icons {
      margin-top: 40px;
      width: 380px;
    }
    &__icon {
      font-size: 12px;
    }
    &__link {
      font-size: 15px;
    }
  }

  .advantages {
    min-height: 400px;
    padding: 63px 0 45px 0;
    &__title {
      font-size: 20px;
    }
    &__wrapper {
      margin-top: 50px;
    }
    &__item {
      width: 220px;
      min-height: 210px;
    }
    &__icon {
      width: 56px;
      height: 56px;
    }
    &__subtitle {
      margin-top: 15px;
      font-size: 16px;
    }
    &__text {
      font-size: 13px;
      margin-top: 15px;
      line-height: 17px;
    }
  }

  .consultation {
    min-height: 520px;
    padding: 80px 0 80px 0;
    &__title {
      font-size: 24px;
      line-height: 36px;
    }
    &__descr {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .feed-form {
    margin-top: 30px;
    width: 270px;
    gap: 8px;
    &__input {
      height: 40px;
      padding: 0px 16px;
      font-size: 12px;
    }
  }

  .carousel {
    padding: 60px 0 20px 0;
  }

  .catalog {
    &__title {
      font-size: 24px;
    }
    &__tabs {
      margin-top: 34px;
    }
    &__tab {
      width: 180px;
      height: 42px;
      font-size: 14px;
    }
    &__content {
      margin-top: 50px;
      justify-content: space-around;
    }
  }

  .reviews {
    &__title {
      font-size: 24px;
    }
    &__item {
      margin-top: 45px;
      justify-content: center;
      gap: 15px;
    }
    &__descr {
      max-width: 570px;
      &-subtitle {
        font-size: 16px;
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .footer {
    &__info {
      width: 360px;
      height: 230px;
      padding: 40px 53px 46px;
    }
    &__address {
      font-size: 15px;
    }
    &__phone {
      font-size: 15px;
    }
    &__social {
      &-item {
        width: 48px;
        height: 48px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 530px;
  }

  .header {
    &__logo {
      width: 180px;
    }
    &__member {
      font-size: 10px;
    }
    &__name {
      font-size: 16px;
    }
    &__phone {
      font-size: 14px;
    }
  }

  .button {
    width: 125px;
    height: 28px;
    font-size: 11px;
    &_main {
      width: 210px;
      height: 45px;
      font-size: 12px;
    }
    &_submit {
      width: 100%;
      height: 32px;
    }
    &_buy {
      width: 100px;
    }
  }

  .promo {
    min-height: 450px;
    padding: 13px 0 40px 0;
    &__wrapper {
      margin-top: 45px;
    }
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__icons {
      margin-top: 15px;
      width: 240px;
    }
    &__icon {
      font-size: 10px;
      line-height: 12px;
      &-img {
        width: 35px;
        height: 35px;
      }
    }
    &__link {
      font-size: 12px;
    }
  }

  .advantages {
    min-height: 320px;
    padding: 35px 0 20px 0;
    &__title {
      font-size: 18px;
    }
    &__wrapper {
      margin-top: 25px;
    }
    &__item {
      width: 157px;
    }
    &__icon {
      width: 45px;
      height: 45px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 14px;
    }
    &__text {
      font-size: 11px;
      margin-top: 10px;
      line-height: 15px;
    }
  }

  .consultation {
    min-height: 400px;
    padding: 50px 0 50px 0;
    &__title {
      font-size: 18px;
      line-height: 24px;
    }
    &__descr {
      font-size: 13px;
      line-height: 16px;
    }
  }

  .feed-form {
    margin-top: 22px;
    width: 230px;
    &__input {
      height: 30px;
      padding: 0 10px;
      font-size: 10px;
    }
  }

  .carousel {
    padding: 45px 0 20px 0;
  }

  .catalog {
    &__title {
      font-size: 20px;
    }
    &__tabs {
      margin-top: 22px;
    }
    &__tab {
      width: 140px;
      height: 36px;
      font-size: 12px;
    }
    &__item {
      width: 255px;
      min-height: 410px;
      &-img {
        height: 180px;
      }
      &-subtitle {
        margin-top: 12px;
        font-size: 15px;
      }
      &-descr {
        font-size: 13px;
        line-height: 18px;
      }
      &-link {
        font-size: 13px;
      }
      &-points {
        font-size: 12px;
        line-height: 16px;
      }
      &-back {
        font-size: 13px;
      }
      &-divider {
        margin: 15px 0 15px 0;
        width: 205px;
      }
      &-old {
        font-size: 12px;
      }
      &-new {
        font-size: 15px;
      }
    }
  }

  .reviews {
    &__title {
      font-size: 20px;
    }
    &__item {
      margin-top: 35px;
    }
    &__descr {
      max-width: 410px;
      &-subtitle {
        font-size: 15px;
      }
      &-achievements {
        font-size: 13px;
      }
      &-text {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }

  .footer {
    &__info {
      width: 330px;
      height: 200px;
      padding: 30px 43px 30px;
    }
    &__social-item {
      width: 44px;
      height: 44px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 390px;
  }

  .header {
    &__official {
      display: none;
    }
    &__logo {
      width: 200px;
    }
    &__phone {
      font-size: 16px;
    }
  }

  .button {
    height: 32px;
    &_main {
      margin-top: 45px;
      height: 45px;
    }
    &_submit {
      font-size: 10px;
    }
  }

  .advantages {
    padding: 28px 0 15px 0;
    &__wrapper {
      margin-top: 15px;
      display: block;
    }
    &__item {
      margin: 0 auto;
      width: 220px;
      min-height: 160px;
    }
    &__subtitle {
      margin-top: 3px;
    }
    &__text {
      margin-top: 5px;
    }
  }

  .consultation {
    min-height: 340px;
    padding: 34px 0 34px 0;
    &__title {
      font-size: 16px;
      line-height: 22px;
    }
    &__descr {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .feed-form {
    margin-top: 18px;
    width: 200px;
    gap: 6px;
    &__input {
      height: 26px;
    }
  }

  .carousel {
    padding: 45px 0 20px 0;
    &__indicators {
      display: none;
    }
  }

  .catalog {
    &__title {
      font-size: 17px;
    }
    &__tabs {
      margin-top: 20px;
      gap: 6px;
    }
    &__tab {
      width: 110px;
      height: 34px;
      font-size: 11px;
    }
    &__content {
      margin-top: 30px;
    }
    &__item {
      min-height: 363px;
      &-img {
        height: 150px;
      }
      &-subtitle {
        margin-top: 10px;
        font-size: 14px;
      }
      &-descr {
        margin-top: 6px;
        font-size: 12px;
        line-height: 16px;
      }
      &-link {
        font-size: 12px;
      }
      &-points {
        margin-bottom: 6px;
        line-height: 15px;
      }
      &-back {
        font-size: 12px;
      }
      &-divider {
        margin: 15px 0 15px 0;
        width: 205px;
      }
      &-old {
        font-size: 11px;
      }
      &-new {
        font-size: 14px;
      }
    }
  }

  .reviews {
    &__title {
      font-size: 17px;
    }
    &__item {
      margin-top: 25px;
    }
    &__descr {
      max-width: 275px;
      &-subtitle {
        font-size: 14px;
      }
      &-achievements {
        font-size: 12px;
      }
      &-text {
        font-size: 12px;
      }
    }
  }

  .footer {
    &__info {
      width: 245px;
      height: 180px;
      padding: 15px 20px 15px;
    }
    &__address {
      font-size: 13px;
    }
    &__social {
      width: 180px;
      &-item {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 290px;
  }
  .header {
    &__logo {
      width: 160px;
    }
    &__phone {
      font-size: 14px;
    }
  }
  .button {
    width: 110px;
    height: 24px;
    font-size: 10px;
    &_main {
      width: 200px;
      height: 42px;
      font-size: 12px;
    }
    &_submit {
      width: 100%;
      height: 32px;
    }
  }
  .promo {
    &__title {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 13px;
    }
  }
  .catalog {
    &__tab {
      width: 80px;
      height: 30px;
      font-size: 8px;
    }
  }
  .reviews {
    &__descr {
      max-width: 200px;
    }
  }
}
